*.o
*.exe
server_exec

*.gch

*.log
*~

*.bak

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.vsix
.idea/
.history/

.DS_Store

*.d
